@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Azonix";
  src: url("/public/") format("opentype");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

body {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE 10+ */
  overflow-x: hidden;
}

